[submodule "snippets"]
	path = snippets
	url = git://github.com/scrooloose/snipmate-snippets.git

[submodule "vim-swap"]
	path = vim-swap
	url = git://github.com/Valodim/vim-swap.git
[submodule "clang_complete"]
	path = clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vim-changepaste"]
	path = vim-changepaste
	url = git://github.com/Valodim/vim-changepaste.git
